:root {
  --calculationColor: #ffc50a;
  --resetNequal: #14dcd9;
  --btnClr: #cdcfc2;
  --bodyClr: #3d3d3d;
}
body {
  background-color: var(--bodyClr);
}
.container {
  width: 230px;
  border: 1px solid transparent;
  border-radius: 12px;
  height: 285px;
  margin: auto;
  background-color: #343432;
  box-shadow: 0px 0px 14px 2px;
}
.container input {
  background-color: #696969;
  border-radius: 5px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 25px;
  width: 206px;
  color: white;
  box-shadow: 0 0 12px -4px;
  border: transparent;
}
.calc {
  display: flex;
  width: 215px;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
}
.calc button {
  width: 37px;
  height: 27px;
  border-radius: 4px;
  border: 0px;
  box-shadow: white 0px 0px 3px 0px;
  background-color: var(--btnClr);
}
button:hover {
  background-color: #e6e7e1;
}
button:active {
  box-shadow: inset 0px 0px 6px 0px;
}
#clear,
#equals {
  margin-top: 10px;
  margin-left: 13px;
  width: 90px;
  background-color: var(--resetNequal);
  border: transparent;
  padding: 6px;
  border-radius: 6px;
  box-shadow: #14dcd9 0px 0px 5px 0px;
}
#minus {
  background-color: var(--calculationColor);
  box-shadow: #ffc50a 0px 0px 5px 0px;
}
#minus:hover {
  background-color: #f1d575;
}

#delete,
#power,
#division,
#plus {
  width: 55px;
  background-color: var(--calculationColor);
  box-shadow: #ffc50a 0px 0px 5px 0px;
}
#delete:active,
#power:active,
#division:active,
#plus:active {
  box-shadow: inset 0px 0px 6px 0px;
}
#delete:hover,
#power:hover,
#division:hover,
#plus:hover {
  background-color: #f1d575;
}

#clear:hover,
#equals:hover {
  background-color: #2cf0ec;
}
#clear:active,
#equals:active {
  box-shadow: inset 0px 0px 6px 0px;
}

.span {
  display: inline;
}
#sqr,
#lft,
#rgt,
#on {
  background-color: var(--resetNequal);
  font-size: 10px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -22%);
  border: transparent;
  height: 17px;
  border-radius: 4px;
}
#frst {
  background-color: #ffc50a;
  border: 2px;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-start-start-radius: 50%;
  border-end-start-radius: 50%;
  height: 15px;
  margin-left: 15px;
  margin-right: -3px;
  border-right-color: black;
}
#scnd {
  background-color: #ffc50a;
  border: 2px;
  border-top: transparent;
  border-bottom: transparent;
  height: 15px;
  margin-right: -3px;
}
#thrd {
  background-color: #ffc50a;
  border: 2px;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-end-end-radius: 50%;
  border-start-end-radius: 50%;
  height: 15px;
}
.contStyle {
  margin-left: 19px;
  margin-top: 11px;
  margin-bottom: 6px;
}